<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">H-mobile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/main">Products <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Orders</a>
        </li>
      </ul>
    </div>
  </nav>
   
<div class="footer">
  <p>בכל תקלה ניתן להתקשר למספר 0524445556668</p>
</div>
  
  <router-outlet></router-outlet>